.App1{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 10%;
  width: 50%;
  float: center;
}

.register
{
font-family: Georgia, 'Times New Roman', Times, serif;

}  

.name{
  float:left;
}

.email
{

  float:left;

}

.password
{
  float:left;
}

.inputs
{
display: block;

}