

.about-page {
    background-image: url("./aboutbg.jpg");
    background-repeat: no-repeat;
    background-position:center; 
    background-size:cover;
    position:relative;
    width: auto;
    height: auto;
    color:rgb(81, 16, 116);
}

.about-container {
    text-align:left;
    padding: 10px;
    margin: 0px 50px 0px 50px;
}